body {
    background-image: url('./img/kanto-map.jpeg'); /* Establece la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: left top; /* Alinea la imagen a la banda izquierda */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    font-family: 'Press Start 2P', cursive;
    overflow:hidden;
    color: white;

}
h1 {

    text-align: center;
}
img {
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: left top; /* Alinea la imagen a la banda izquierda */
}
a {
    color: white;
}