body {
    background-image: url('./img/kanto-map.jpeg'); /* Establece la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: left top; /* Alinea la imagen a la banda izquierda */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    font-family: 'Press Start 2P', cursive;
    overflow:hidden;
    color: rgb(0, 0, 0);
    background-color: rgba(241, 192, 137, 0.679);
}
h1 {

    text-align: center;
}
img {
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: left top; /* Alinea la imagen a la banda izquierda */
}
.highlight {
    background-color: rgb(255, 128, 0); /* Cambia el color del texto a rojo */
}
a {
    color: white;
    background-color: rgb(255, 0, 0);
    text-align: center;
    display: inline-block; /* Asegura que el enlace se comporte como un bloque en línea */
    padding: 10px 20px; /* Añade algo de relleno para hacer el enlace más grande */
}